button#add-comment Add Comment

div.add-section(style='visibility: hidden; height: 0px;') 
    label(for='content') Content
    textarea#content(name='content', rows=3, cols=30)
    button.submit-add(id= short.id) Submit
    button.cancel-add Cancel

div.comment-section
    for comment in comments 
        if comment
            div 
                p= comment.User.username
                pre= comment.content
                if locals.authenticated
                    if comment.userId === userId
                            button.edit-comment(id=`edit-${comment.id}`) Edit
                            button.delete-comment(id=`delete-${comment.id}`) Delete
                            

script(src='/javascripts/comments.js')