extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1= title
  a#start(href='/shorts') Start Exploring
  if locals.authenticated
    div#profile
      a(href=`/users/${user.id}`) Go to profile
