doctype html
html
  head
      block head
        title= title
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet")
        script(src='/javascripts/short-delete.js')
        script(src='/javascripts/follow.js')
        script(src='/javascripts/likes.js')
  body
    block body
      if locals.authenticated
        ul#logged-in-nav
          li: p#welcome-user Welcome #{user.username}!
          li: form(action='/users/logout' method='post'): button#logout-button Logout
      else
        ul#logged-out-nav
          li: a(href='/users/login'): button#login-button Login
          li: a(href='/users/register'): button#register-button Register
    div#background-div
    block content
