extend layout 
include utils
append head 
    link(rel='stylesheet' href='/stylesheets/shorts-create.css')
block content
    h2 Create a short:
    div#form-div
        +validationErrorSummary(errors)
        form(action=`/shorts/create` method='post' id='short-form')
            input(type='hidden' name='_csrf' value=csrfToken)
            div#title-div
                +field('Title', 'title', short.title)
            div#content-div
                +field('Content', 'content', short.content, 'textarea')
            button#create-short-button(type='submit') Create Short
        a(href='/shorts'): button#cancel-short-button Cancel