extends layout
include utils
block content
    form(action=`/shorts/edit/${short.id}` method='POST')
      +validationErrorSummary(errors)
      input(type='hidden' name='_csrf' value=csrfToken)
      +field('Title', 'title', short.title)
      +field('Content', 'content', short.content, 'textarea')
      button Edit Short
