extend layout 
include utils
block content
    +validationErrorSummary(errors)
    form(action=`/shorts/create` method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        +field('Title', 'title', short.title)
        +field('Content', 'content', short.content, 'textarea')
        button Create Short