extends layout
include utils
block content
    form(action=`/shorts/${short.id}/edit` method='POST')
      +validationErrorSummary(errors)
      input(type='hidden' name='_csrf' value=csrfToken)
      +field('Title', 'title', short.title)
      +field('Content', 'content', short.content, 'textarea')
      button Submit 
      a(href=`/shorts/${short.id}`) Cancel
