extends layout.pug 

block content 
    h1= short.title
    p By: 
        a(href=`/users/${short.userId}`) #{username}
    div    
        p= short.content
    div 
        a(href='/shorts') Back to Shorts!