extends layout.pug 

block content
    h1 Shorts!
    each short in shorts
            div= short.title 
            a(href=`/shorts/${short.id}`) Go to short's page

    div
        p: a(href='/') Back to Home!
    