extends layout.pug 

block content
    h1#shorts-title Shorts!
    each short in shorts
            div(id=`short-div-${short.id}`)= short.title 
                div#view-short-link
                    a(href=`/shorts/${short.id}`) View Short
                div#delete-short
                    if locals.authenticated
                        if short.userId === userId  
                            button.delete-short-buttons(id=`${short.id}`) Delete
    div#back-to-home 
        a(href='/') Back to Home!
    if locals.authenticated
        div#create-short 
            a(href='/shorts/create') Create a short!


    