extends layout

include utils

append head
    link(rel='stylesheet' href='/stylesheets/edit-short.css')
block content
  div#buffer
  div#edit-div
    h2 Edit Short:
    div#form-div
        +validationErrorSummary(errors)
        form(action=`/shorts/${short.id}/edit` method='POST')
            input(type='hidden' name='_csrf' value=csrfToken)
            div#title-div
              +field('Title', 'title', short.title)
            div#div-content
              +field('Content', 'content', short.content, 'textarea')
            div#edit-buttons
              button#submit-edit-button Submit
              a(href=`/shorts/${short.id}`): button#cancel-edit-button Cancel
