extends layout

include utils.pug

block head 
  title= title
  link(rel='stylesheet' href='/stylesheets/user-login.css')
  link(rel="preconnect" href="https://fonts.googleapis.com")
  link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
  link(href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet")

block body

block content
  div.center
    h1 Login
    +validationErrorSummary(errors)
    form(action='/users/login' method='post')
      input(type='hidden' name='_csrf' value=csrfToken)
      div.email
        +field('Email Address', 'email', user.email)
      div.password
        +field('Password', 'password', user.hashedPassword, 'password')
      div.login-button
          button#login-button(type='submit') Login
      div.login-button
          button#demo-button(type='submit') Demo
      div.cancel-button
          a(href='/') Cancel
      div.need-an-account
        p: a(href='/users/register') Need an account? Sign Up
      div.back-to-home
        p: a(href='/') Back to Home!
  script(src='/javascripts/demo-user.js')
