extends layout

include utils.pug

append head  
  link(rel='stylesheet' href='/stylesheets/user-registration.css')

block content
  div#buffer
  div.center
    h1 Register
    +validationErrorSummary(errors)
    form(action='/users/register' method='post')
      input(type='hidden' name='_csrf' value=csrfToken)
      div.username
        +field('Username', 'username', user.username)
      div.email
        +field('Email Address', 'email', user.email)
      div.password
        +field('Password', 'password', user.hashedPassword, 'password')
      div.confirmPassword
        +field('Confirm Password', 'confirmPassword', '', 'password')
      div.cancel-button
        button(type='submit') Register
        a(href='/') Cancel
      div
        p: a(href='/users/login') Already have an account?
      div
        p: a(href='/') Back to Home!
