body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-size: cover;
}
#followers, #followings{
  font-size: 16px;
}

#user-name-title {
  font-size: 40px;
}

.profile-page{
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

h2 {
  font-size: 35px;
}

.user-shorts-list-div, .shorts-list-container, .feeds-shorts-list-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.switcher {
  width: 300px;
  display: flex;
  justify-content: space-evenly;
}

#feedButton:hover, #myShortButton:hover {
  color: #AABA49;
}

.short-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #7CA27F;
  width: 400px;
  margin: 5px;
  border-radius: 5px;
  height: 90px;
}

.short-div a, pre, p {
  margin: 1px;
}

#welcome-user {
  top: 5px;
  left: 10px;
}

#logout-button {
  position: relative;
  top: 35px;
  right: 120px;
}

#login-button, #register-button {
  position: relative;
  top: 15px;
}

#back-to-home {
  position: fixed;
  top: 20px;
  z-index: 110;
  right: 0;
}

.youFollow {
  font-size: 20px;
  margin-top: 10px;
  color: #7CA27F;
}

.hidden {
  display: none;
}

a:hover {
  color: #AABA49;
}

#short-title {
  font-size: 20px;
}