* {
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

h1, h2, h3, h4, h5, h6, a, ol, li, ul, div, span,
body, header, nav {
  font-size: 1rem;
  color: #01523e;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
  list-style-type: none;
  text-decoration: none;
}

h1 {
  font-size: 2rem;
}

#logged-out-nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 101;
}

#logged-in-nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 102;
}

#logout-button {
  position: relative;
  color: #01523e;
}

#logout-button:hover,
#logout-button:focus {
background: gray;
}

#login-button {
  color: #01523e;
}

#login-button:hover,
#login-button:focus {
background: gray;
}

#register-button {
  color: #01523e;
}

#register-button:hover,
#register-button:focus {
background: gray;
}

#welcome-user {
  font-size: 20px;
  color: #AABA49;
  position: relative;
  bottom: 10px;
}

button {
  display: inline-block;
  border: none;
  padding: 10px 20px;
  margin: 0;
  text-decoration: none;
  background: transparent;
  color: #01523e;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  border-radius: 5px;
}
  
button:hover,
button:focus {
  background: #B3B5B2;
}

button:active {
  transform: scale(0.99);
}

body {
  background: linear-gradient(to top left, #AABA7C, #7CA27F, #3C8870);
  background-attachment: fixed;
}

#blur {
  width: 100%;
  background-color: rgba(0, 0, 0, 30%);
  height: 100vh;
}

html{
  height: 100%
}

#background-div {
  position: fixed;
  width: 100%;
  height: 88px;
  background-color: #7CA27F;
  z-index: 100;
}

#left {
  position: relative;
  z-index: 105;
  left: 10%;
}

#buffer { 
  height: 100px;
  position: relative;
}
