#shorts-list-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 13%;
}

.short {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 900px;
    height: 200px;
    border: 5px solid #B3B5B2;
    margin: 10px;
    border-radius: 5px;
    z-index: 50;
    color: rgba(87, 140, 126, 255);
}

.short-title {
    font-size: 30px;
    text-decoration: none;
}

#shorts-main-title {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-size: 45px;
    text-align: center;
    z-index: 120;
}

#shorts-main-title, .short-title {
    color: #3C8770;
}

.author-title {
    color: #B3B5B2;
    font-size: 15px;
    margin-left: 10px;
}

.author-links {
    text-decoration: none;
}

.delete-short-buttons {
    color: green;
}

#right {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    left: 450%;
    z-index: 104;
}

#create-short {
    position: relative;
}

#back-to-home {
    position: relative;
}

#short-list-container {
    position: relative;
}

#logout-button {
    bottom: 30px;
}