#shorts-list-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.short {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 900px;
    height: 200px;
    border: 5px solid black;
    border-bottom: none;
}

.short-title {
    font-size: 30px;
}

#shorts-main-title {
    font-size: 45px;
}

.author-title {
    color: rgba(38,27,85,255);
    font-size: 15px;
    margin-left: 10px;
}

.author-links {
    text-decoration: none;
}

#short-div-4 {
    border-bottom: 5px solid black;
}

#short-div-15 {
    border-bottom: 5px solid black;
}

body {
    background-color: rgba(41,145,120,255);
}

#bottom-nav-shorts {
    display: flex;
    justify-content: space-between;
}

#create-short {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: blue;
    color: rgba(240,43,50,255);
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 5px;
}
    
#create-short:hover,
#create-short:focus {
    background: #0053ba;
}

#create-short:focus {
    outline: 1px solid rgba(240,43,50,255);
    outline-offset: -4px;
}

#create-short:active {
    transform: scale(0.99);
}

#back-to-home {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: blue;
    color: rgba(240,43,50,255);
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 5px;
}
    
#back-to-home:hover,
#back-to-home:focus {
    background: #0053ba;
}

#back-to-home:focus {
    outline: 1px solid rgba(240,43,50,255);
    outline-offset: -4px;
}

#back-to-home:active {
    transform: scale(0.99);
}

#create-short>a, #back-to-home>a {
    text-decoration: none;
}

.short-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
}

.delete-short-buttons {
    display: inline-block;
    border: none;
    padding: 10px 20px;
    margin: 0;
    text-decoration: none;
    background: red;
    color: black;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-left: 650px;
    border-radius: 5px;
}
    
.delete-short-buttons:hover,
.delete-short-buttons:focus {
    background: #df4646;
}

.delete-short-buttons:focus {
    outline: 1px solid rgb(255, 95, 95);
    outline-offset: -4px;
}

.delete-short-buttons:active {
    transform: scale(0.99);
}

.view-short-link {
    display: inline-block;
    border: none;
    padding: 10px 20px;
    margin: 0;
    text-decoration: none;
    background: blue;
    color: rgba(240,43,50,255);
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 5px;
}
    
.view-short-link:hover,
.view-short-link:focus {
    background: #0053ba;
}

.view-short-link:focus {
    outline: 1px solid rgba(240,43,50,255);
    outline-offset: -4px;
}

.view-short-link:active {
    transform: scale(0.99);
}