body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    border: 2px solid rgba(38,27,85,255);
    border-bottom: none;
    padding: 10px;
    width: 75%;
    background-color: rgba(141,177,43,255);
    color: rgba(38,27,85,255);
    font-size: 45px;
}

#short-form {
    border: 2px solid rgba(38,27,85,255);
    border-top: none;
    padding: 10px;
    width: 75%;
    background-color: rgba(141,177,43,255);
    color: rgba(38,27,85,255);
}

#title-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#title-div label {
    display: block;
}
#title-div input {
    width: 98%
}

#title-div div, #content-div div {
    width: 100%;
}

#content-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#content-div label {
    display: block;
}
#content-div textarea {
    width: 98%;
}
button {
    background-color: rgba(240,43,50,255);
    color: white;
}