.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid rgba(240,43,50,255);
    border-radius: 10px 10px 0 0;
    border-bottom: none;
    padding: 10px;
    width: 98%;
    background-color: rgba(38,27,85,255);
    color: white;
    font-size: 25px;
    padding-bottom: 20px;
}

.grid {
    border: 2px solid rgba(240,43,50,255);
    border-radius: 0 0 10px 10px;
    border-top: none;
    padding: 10px;
    width: 98%;
    background-color: rgba(78,67,125,255);
    color: white;
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-column-gap: 10px
}

.right-bar {
    grid-column-start: 3;
}

.main-content {
    grid-column-start: 2;
    grid-row-end: 2;
    border: 2px solid rgba(240,43,50,255);
    border-radius: 10px;
    background-color: lightgrey;
    color: black;
}

.left-bar {
    grid-column-start: 1;
}

textarea {
    border: 2px solid rgba(240,43,50,255);
    border-radius: 5px;
    width: 98%;
    max-width: 98%;
}

pre {
    border: 2px solid rgba(240,43,50,255);
    border-radius: 10px;
    background-color: lightgrey;
    color: black;
    padding: 3px;
}

button {
    font-size: 20px;
    background-color: rgba(240,43,50,255);
    color: white;
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: white;
    margin-left: 10px;
    font-size: 20px;
}

.main-content a {
    text-decoration: none;
    color: black;
    margin-left: 10px;
    font-size: 20px;
}