body {
  background-color: rgb(38,27,85,255);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}

.back-to-home {
  color: white;
}
.need-an-account {
  color: white;
}

.cancel-button {
  color: white
}

.login-button {
  color: black
}
.email{
  color: white;
}
.password{
  color: white;
}
